@keyframes playAnimation {
    0% {
      transform: translateX(0);
      z-index: 10;
    }
    25% {
      transform: translateX(50px);
      z-index: 10;
    }
    26% {
      z-index: 0;
    }
    50% {
      transform: translateX(0) scale(0.8);
      z-index: 0;
    }
    75% {
      transform: translateX(-50px);
      z-index: 0;
    }
    76% {
      z-index: 10;
    }
    100% {
      transform: translateX(0);
      z-index: 5;
    }
  }

  @keyframes homeAnimation {
    0% {
      transform: translateY(0);
      z-index: 5;
    }
    25% {
      transform: translateY(50px);
      z-index: 5;
    }
    26% {
      z-index: 0;
    }
    50% {
      transform: translateY(0) scale(0.8);
      z-index: 0;
    }
    75% {
      transform: translateY(-50px);
      z-index: 0;
    }
    76% {
      z-index: 5;
    }
    100% {
      transform: translateY(0);
      z-index: 2.5;
    }
  }
  @keyframes logo {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes turn-item {
    from {
        transform: rotate(-270deg);
    }

    to {
        transform: rotate(0);
    }
}
@keyframes glissement {
  0% {
    right: 35px;
   
  }

  50% {
    right: 0;
   
  }
  100%{
    right: 35px;
  }
   
    
   
  
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes glissement {
  0% {
    right: 35px;
   
  }

  50% {
    right: 0;
   
  }
  100%{
    right: 35px;
  }  
}