.footer{
    margin: auto;
    max-width: 1250px;
    margin-top: 3em;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: $back_color_first;
    box-shadow: 4px 1px 3px 3px $color_first;
    border-radius: 1em;
    &__logo{
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 120px;
        height: 70px;      
        &:hover{
            cursor:pointer;
            box-shadow: 3px 2px 3px $color_hover;
            
        }
    }
}
  