<header className="header">
    <nav class="header__nav"> 

    <img class="header__nav__logo"src="{{ url_for('static', filename='assets/logo_arbre.png') }}" alt="Logo arbre"/> 
    <a href="https://fr.wikipedia.org/wiki/Pendu_(jeu)"><img class="header__nav__logo__pendu"src="{{ url_for('static', filename='assets/pendu.jpg') }}" alt="Logo pendu"></img></a>
    <img class="header__nav__logo"src="{{ url_for('static', filename='assets/logo_arbre.png') }}" alt="Logo arbre"/>     
    
    </nav>  
</header>